{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<div class="media">
  <div class="media-body">
    <h1 class="mt-0">{{ program.title }}</h1>
    <p>{{ program.summary }}</p>
    <img src="{{ program.poster }}" width="300" alt="{{ program.title }}">
    <p>Catégorie : {{ program.category.name }}</p>
    <h1>Saison : {{ season.number }} - {{ season.year }}</h1>
  </div>
</div>


        <div>
            <h2>Episode : {{episode.number}} - {{ episode.title }} </h2>
            <p>Synopsis : {{episode.synopsis}} </p>
        </div>


<a href="{{ path("program_season_show", { slug: program.slug , season_slug: season.slug }) }}">Retour à la saisons</a></br>

<a href="{{ path('program_show', { slug: program.slug }) }}"> Retour à la liste des saisons</a></br>

<a href="{{ path('program_index') }}"> Retour à la liste des programmes</a></br>

{% endblock %}