{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<div class="media">
  <div class="media-body">
    <h1 class="mt-0">{{ program.title }}</h1>
    <p>Synopsis : {{ program.summary }}</p>
    <img src="{{ program.poster }}" width="300" alt="{{ program.title }}">
    <p>Catégorie : {{ program.category.name }}</p>
  </div>
</div>


<h1>Toutes les saisons : </h1>
    {% for season in program.seasons %}
        <div>
            <h1>Saison {{ season.number }} - {{ season.year }}</h1>
            <a href="{{ path('program_season_show', { slug: program.slug , season_slug: season.slug }) }}">Voir les saisons</a>
        </div>
    {% else %}
        Aucune série trouvée.</br>
    {% endfor %}

    <strong>Acteurs :</strong>
<ul>
    {% for actor in program.actors %}
        <li>{{ actor.name }} </li></br>
    {% else %}
        <li>Aucun acteur pour cette série</li>
    {% endfor %}
</ul>


<a href="{{ path('program_index') }}"> Retour à la liste des programmes</a>

{% endblock %}